
  {{!-- <nav class="teal lighten-2">
    <div class="nav-wrapper brand-logo center">
      <ul id="nav-align"class="center">
          <li class="active"><a href="/appointments">Appointments</a></li>
          <li><a href="/addAppt">Add Appointment</a></li>
          <li><a href="/customers">New Customer</a></li>
          <li><a href="" id="logout">Logout</a></li>
        </ul>
    </div>
  </nav> --}}

  <nav class="teal lighten-2">
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div class="container">
        <ul class="hide-on-med-and-down">
          <li class="active"><a href="/appointments">Appointments</a></li>
          <li><a href="/addAppt">Add Appointment</a></li>
          <li><a href="/customers">New Customer</a></li>
          <li><a href="" id="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-links">
    <li ><a href="/appointments">Appointments</a></li>
    <li class="active"><a href="/addAppt">Add Appointment</a></li>
    <li><a href="/customers">New Customer</a></li>
    <li><a href="" id="logout">Logout</a></li>
  </ul>

  {{!-- Populate each appointment into a box --}}
{{#each appointments as |appointment| }}
<div class="col s12 m7 z-depth-2">
    <h5 class="header" style="text-align: left; margin-left: 25px;">{{appointment_time}}:00</h5>
    <div class="card horizontal" style="margin: auto 20px 10px">
      <div class="card-stacked">
        <div class="card-content">
          <h3 id="customer" value="{{customer.customer_id}}">{{customer.customer_first_name}} {{customer.customer_last_name}}</h3>
          <p>{{customer.dog_name}}</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
{{/each}}