{{! Populate each appointment into a box. Blank if no one is scheduled. Otherwise will populate Customer and Dog Names }}
{{#each appointments as |appointment|}}
  <form action="post" id="sendMail">
    <div class="col s12 m7 z-depth-2">
      <h5
        class="header"
        style="text-align: left; margin-left: 25px;"
      >{{appointment_time}}:00</h5>
      <div class="card horizontal" style="margin: auto 50px 10px">
        <div class="card-stacked">
          <div class="card-content">
            <h3
              id="customer"
              value="{{customer.customer_id}}"
            >{{customer.customer_first_name}}
              {{customer.customer_last_name}}</h3>
            <p>{{customer.dog_name}}</p>
          </div>
          <div class="card-action">
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >Pickup!
              <i class="material-icons right">mail_outline</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
{{/each}}